#lemmy{
    background-color:#ef9424 ;
    color: #1d174c;
}

#alex{
    background: #fff400;
    color: #000;
}

#loader{
    background: #1d174c;
}

#lemmy{
    position: relative;
    display: block;
    background: #ffffff;
    width: 100%;
    height: 60px;
    border: 1px solid #e0e1e1;
    color: #606d78;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: 0px;
    letter-spacing: 0.02em;
    transition: all 500ms ease;
    font-family: var(--thm-font);
    outline: none;
}